version: "2.1"

services:
  pulseaudio:
    build:
      context: .
      dockerfile: Dockerfile.pulseaudio
    hostname: pulseaudio
    restart: unless-stopped
    privileged: true
    labels:
      io.balena.features.dbus: '1'
      io.balena.features.kernel-modules: '1'
      io.balena.features.firmware: '1'
    devices:
      - "/dev/snd:/dev/snd"
    group_add:
      - audio
    volumes:
      - pulse-socket:/run/pulse
    environment:
      - PULSE_RUNTIME_PATH=/run/pulse
      - SOUND_VOLUME

  audiotest:
    build:
      context: .
      dockerfile: Dockerfile.audiotest
    hostname: audiotest
    restart: on-failure
    volumes:
      - pulse-socket:/run/pulse
    environment:
      - PULSE_SERVER=unix:/run/pulse/native
      - AUDIO_TEST
    depends_on:
      - pulseaudio

  snapclient:
    build:
      context: .
      dockerfile: Dockerfile.snapclient
    hostname: snapclient
    restart: unless-stopped
    labels:
      io.balena.features.dbus: '1'
    command: ["-s", "pulse"]
    volumes:
      - pulse-socket:/run/pulse
    environment:
      - PULSE_SERVER=unix:/run/pulse/native
      - SNAPSERVER_HOST
      - SNAPCLIENT_ID
    depends_on:
      - pulseaudio

  sendspin:
    build:
      context: .
      dockerfile: Dockerfile.sendspin
    hostname: sendspin
    restart: on-failure
    network_mode: host
    labels:
      io.balena.features.dbus: '1'
      io.balena.features.avahi: '1'
    volumes:
      - pulse-socket:/run/pulse
    environment:
      - PULSE_SERVER=unix:/run/pulse/native
      - ENABLE_SENDSPIN
    depends_on:
      - pulseaudio


  snapserver:
    build:
      context: .
      dockerfile: Dockerfile.snapserver
    hostname: snapserver
    restart: on-failure
    ports:
      - "1704:1704"
      - "1705:1705"
      - "1780:1780"
    volumes:
      - snapserver-pipe:/run/snapserver
      - snapserver-data:/var/lib/snapserver
    environment:
      - ENABLE_SERVER


  librespot:
    build:
      context: .
      dockerfile: Dockerfile.librespot
    hostname: librespot
    restart: on-failure
    network_mode: host
    volumes:
      - snapserver-pipe:/run/snapserver
    labels:
      io.balena.features.avahi: '1'
    environment:
      - SPOTIFY_DEVICE_NAME
      - ENABLE_SERVER
    depends_on:
      - snapserver

volumes:
  pulse-socket:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
  snapserver-pipe:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
  snapserver-data:
